{
  "env": {
    "client": {
      "presets": [
        "@babel/preset-react",
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "usage",
            "corejs": 3,
            "targets": {
              "browsers": "last 2 versions"
            }
          }
        ]
      ],
      "plugins": ["@babel/plugin-proposal-class-properties"]
    },
    "server": {
      "presets": [
        "@babel/preset-react",
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": ["@babel/plugin-proposal-class-properties"]
    }
  }
}
